
.colores {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}

header {
    background-color: burlywood;
    padding: 1em;
    border: 1px solid;
}
